<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Enlazar archivo de css -->

    <link rel="stylesheet" href="assets/css/styles.css"

</head>
<body>
    <!-- En bloque -->
    <h1>Titulo</h1>
    <p>Hola</p>

    <!-- En linea -->
    <span class="saludo">Hola</span>
    <img src="assets/img/Pokemon-Legends-Arceus-Como-evolucionar-Haunter-en-Gengar.jpg" width="500px"

    <a href="https://www.youtube.com/">YouTube</a>
    <a href="../index.html">index</a>
    <!-- Listas ordenadas -->

    <ol>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <!-- Listas deshordenadas -->

    <ul>
        <li>Primero</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
      </ul>

      <!-- CSS en el documnento -->

      <style>
          body{
              background-color: aquamarine;
          }
      </style>



            <!-- JavaScript en el docuemento -->
         <script>
            alert("Hola mundo!")
         </script>
        
    <!-- Enlazar un archivo JavaScript -->

    <script src="assets/js/main.js">
         alert("Hola Mundo")
    </script>


</body>
</html>