.fondo1{
    background-color: rgb(173, 89, 173);
    width: 400px;
    height: 25px;

}

.fondo2{
    background-color: orange;
    width: 400px;
    height: 25px;
    border: 1px solid red;
    border-radius: 25%;

}
